<h2 matDialogTitle *ngIf="ticket | async as info">{{info.titulo}}</h2>
<mat-dialog-content>
  <p class="text-secondary">Selecciona quien va a solucionar este ticket</p>
  <form>
    <mat-form-field class="mt-8 w-full">
      <mat-label>Selecciona el nuevo estado del ticket</mat-label>
      <mat-select [formControl]="control">
        <mat-option *ngFor="let estado of personal$|async" [value]="estado.id">{{estado.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matDialogClose mat-button color="warn">
    Cancelar
  </button>
  <button [disabled]="!control.valid" (click)="confirmar()" mat-raised-button color="warn">
    Confirmar
  </button>
</mat-dialog-actions>