<ng-container *ngIf="ticket">
	<h2 matDialogTitle>
		{{
		ticket.activo
			? "¿Desea cerrar este ticket?"
			: "¿Desea re abrir este ticket?"
		}}
	</h2>
	<mat-dialog-content>
		<p class="text-secondary">
			El estado del ticket no tiene relación con si es activo o no activo, puedes
			tener un ticket activo con estado cerrado si no tienes cuidado
		</p>
		<form [formGroup]="formulario">
			<mat-form-field class="mt-8 w-full">
				<mat-label>{{
					ticket.activo ? "Comentario de cierre" : "Comentario de reapertura"
					}}</mat-label>
				<textarea matInput formControlName="comentario"></textarea>
			</mat-form-field>
		</form>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button matDialogClose mat-button color="warn">Cancelar</button>
		<button
			[disabled]="!formulario.valid"
			(click)="confirmar()"
			mat-raised-button
			color="warn"
		>
			Confirmar
		</button>
	</mat-dialog-actions>
</ng-container>
