<h2 matDialogTitle>Nuevo Ticket</h2>
<mat-dialog-content *ngIf="$permisosEspeciales | async as pe">
	<form
		class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
		[formGroup]="composeForm"
	>
		<mat-form-field>
			<mat-label>Título</mat-label>
			<input matInput formControlName="titulo" />
		</mat-form-field>
		<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
			<mat-form-field>
				<mat-label>Prioridad</mat-label>
				<mat-select formControlName="prioridad">
					<mat-option
						*ngFor="let prioridad of $prioridades | async"
						[value]="prioridad.id"
					>
						{{ prioridad.nombre }}
						<span class="inline-block">
							<div
								class="w-4 h-2"
								[ngStyle]="{ 'background-color': prioridad.color }"
							></div>
						</span>
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Estado</mat-label>
				<mat-select formControlName="estado">
					<mat-option
						*ngFor="let estado of $estados | async"
						[value]="estado.id"
						>{{ estado.nombre }}</mat-option
					>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Categorías</mat-label>
				<mat-select multiple formControlName="categorias">
					<mat-optgroup
						*ngFor="let categoria of $categorias | async"
						[label]="categoria.grupo"
					>
						<mat-option
							*ngFor="let sub of categoria.subcategoria"
							[value]="sub.id"
							>{{ sub.nombre }}</mat-option
						>
					</mat-optgroup>
				</mat-select>
			</mat-form-field>
		</div>
		<quill-editor class="mt-2" formControlName="descripcion"></quill-editor>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
			<mat-form-field>
				<mat-label>Solicitante</mat-label>
				<input matInput disabled [value]="usuarioSeleccionado" />
				<button
					*ngIf="pe.includes('agregar solicitante')"
					matSuffix
					mat-icon-button
					aria-label="Seleccionar usuario"
					(click)="openModal()"
				>
					<mat-icon>menu</mat-icon>
				</button>
			</mat-form-field>

			<mat-form-field *ngIf="pe.includes('asignar ticket')">
				<mat-label>Asignado a</mat-label>
				<mat-select formControlName="asignadoA">
					<mat-option *ngFor="let per of $personal | async" [value]="per.id">{{
						per.nombre
					}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div
			class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6"
		>
			<div class="-ml-2">
				<!-- <button mat-icon-button>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
        </button>
 
        <button mat-icon-button>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:link'"></mat-icon>
        </button>
      
        <button mat-icon-button>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
        </button>
     
        <button mat-icon-button>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
        </button> -->
			</div>

			<div class="flex items-center mt-4 sm:mt-0">
				<!-- Discard -->
				<button
					class="ml-auto sm:ml-0"
					mat-button
					color="warn"
					(click)="cancel()"
				>
					cancelar
				</button>
				<!-- Send -->
				<button
					class="order-first sm:order-last"
					[disabled]="!composeForm.valid"
					mat-flat-button
					color="warn"
					(click)="send()"
				>
					Crear
				</button>
			</div>
		</div>
	</form>
</mat-dialog-content>
