<app-base>
  <mat-card class="relative z-20" *ngIf="ticket$|async; let ticket">
    <mat-card-header class="sticky top-0 bg-card z-50">
      <div mat-card-avatar class="w-28 mr-5">
        <h2 class="font-extrabold text-primary">{{ticket.solicitudDe}}</h2>
        <p>{{ticket.estado}}</p>
      </div>
      <mat-card-title>{{ticket.titulo}}</mat-card-title>
      <mat-card-subtitle [innerHTML]="ticket.descripcion">
      </mat-card-subtitle>
      <span class="flex flex-1"></span>
      <div>
        <p class="text-right mb-4 mr-4">{{ticket.fechaSolicitud|date:'dd/MM/yy hh:mm':'UTC'}}</p>
        <button (click)="cerrarTicket()" *ngIf="(permisosEspeciales$|async).includes('cerrar ticket')" mat-raised-button
          color="warn">
          {{ticket.activo?'Cerrar Ticket':'Reabrir Ticket'}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="z-30">
      <app-comments [ticket]="id$|async"></app-comments>
    </mat-card-content>
  </mat-card>
</app-base>