<app-base title="Dashboard" subtitle="Dashboard">
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
		<ng-container *ngIf="informacionTickets">
			<mat-card class="shadow-lg">
				<mat-card-header>
					<div class="custom-header bg-green-600">
						<mat-icon class="text-white">note_add</mat-icon>
					</div>
					<span class="flex flex-1"></span>
					<h3 class="text-lg font-light">Tickets</h3>
				</mat-card-header>
				<mat-card-content class="text-right mt-4">
					<mat-divider inset class="shadow"></mat-divider>
					<canvas baseChart [data]="data" [type]="'bar'"> </canvas>
				</mat-card-content>
			</mat-card>

			<!-- ******TIEMPO PROMEDIO POR TICKET***** -->
			<mat-card class="shadow-lg">
				<mat-card-header>
					<div class="custom-header bg-primary">
						<mat-icon class="text-on-primary">people</mat-icon>
					</div>
					<span class="flex flex-1"></span>
					<h3 class="text-lg font-light">Tickets Asignados</h3>
				</mat-card-header>
				<mat-card-content class="text-right mt-4">
					<mat-divider inset class="shadow"></mat-divider>
					<div class="flex place-content-center">
						<mat-table class="w-full" [dataSource]="informacionTickets">
							<ng-container matColumnDef="personalAsignado">
								<mat-header-cell *matHeaderCellDef> Personal </mat-header-cell>
								<mat-cell *matCellDef="let element">
									{{ element.personalAsignado }}
								</mat-cell>
							</ng-container>
							<ng-container matColumnDef="activos">
								<mat-header-cell *matHeaderCellDef> Activos </mat-header-cell>
								<mat-cell *matCellDef="let element">
									{{ element.cerrados }}
								</mat-cell>
							</ng-container>
							<ng-container matColumnDef="cerrados">
								<mat-header-cell *matHeaderCellDef> Cerrados </mat-header-cell>
								<mat-cell *matCellDef="let element">
									{{ element.activos }}
								</mat-cell>
							</ng-container>

							<mat-header-row
								*matHeaderRowDef="displayedColumns"
							></mat-header-row>
							<mat-row
								*matRowDef="let row; columns: displayedColumns"
							></mat-row>
						</mat-table>
					</div>
				</mat-card-content>
			</mat-card>

			<mat-card class="shadow-lg">
				<mat-card-header>
					<div class="custom-header bg-warn">
						<mat-icon class="text-on-warn">book</mat-icon>
					</div>
					<span class="flex flex-1"></span>
					<h3 class="text-lg font-light">Tiempo promedio por ticket</h3>
				</mat-card-header>
				<mat-card-content class="text-right mt-4">
					<!-- <div class="">
						<h3 class="text-center text-3xl text-primary-500">En desarrollo</h3>
						<img
							class="h-10"
							src="assets/images/logo/page.svg"
							alt="En construccion"
						/>
					</div> -->
					<mat-divider inset class="shadow"></mat-divider>
					<mat-table class="w-full" [dataSource]="tiemposPromedio">
						<ng-container matColumnDef="personal">
							<mat-header-cell *matHeaderCellDef>
								Personal de soporte
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.personal }}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="promedio">
							<mat-header-cell *matHeaderCellDef>
								Tiempo promedio por ticket
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.promedio }}
							</mat-cell>
						</ng-container>

						<mat-header-row
							*matHeaderRowDef="['personal', 'promedio']"
						></mat-header-row>
						<mat-row
							*matRowDef="let row; columns: ['personal', 'promedio']"
						></mat-row>
					</mat-table>
				</mat-card-content>
			</mat-card>
		</ng-container>
		<!-- *************************TIMELAPSE*********************** -->
		<mat-card class="shadow-lg lg:col-span-3">
			<mat-card-header>
				<mat-card-title>Tickets por dia</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-divider inset class="shadow"></mat-divider>
				<canvas
					baseChart
					class="overflow-x-auto"
					[data]="tpdData"
					[type]="'bar'"
					[options]="options"
				>
				</canvas>
			</mat-card-content>
		</mat-card>
	</div>
</app-base>
