<ng-container [ngSwitch]="layout">
  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Empty layout -->

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <empty-layout *ngSwitchCase="'empty'"></empty-layout>

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Layouts with horizontal navigation -->
  <!-- ----------------------------------------------------------------------------------------------------- -->

  <!-- Centered -->
  <centered-layout *ngSwitchCase="'centered'"></centered-layout>

  <!-- Enterprise -->
  <enterprise-layout *ngSwitchCase="'enterprise'"></enterprise-layout>

  <!-- Material -->
  <material-layout *ngSwitchCase="'material'"></material-layout>

  <!-- Modern -->
  <modern-layout *ngSwitchCase="'modern'"></modern-layout>

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Layouts with vertical navigation -->
  <!-- ----------------------------------------------------------------------------------------------------- -->

  <!-- Classic -->
  <classic-layout *ngSwitchCase="'classic'"></classic-layout>

  <!-- Classy -->
  <classy-layout *ngSwitchCase="'classy'"></classy-layout>

  <!-- Compact -->
  <compact-layout *ngSwitchCase="'compact'"></compact-layout>

  <!-- Dense -->
  <dense-layout *ngSwitchCase="'dense'"></dense-layout>

  <!-- Futuristic -->
  <futuristic-layout *ngSwitchCase="'futuristic'"></futuristic-layout>

  <!-- Thin -->
  <thin-layout *ngSwitchCase="'thin'"></thin-layout>

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Settings drawer - Remove this to remove the drawer and its button -->
  <!-- ----------------------------------------------------------------------------------------------------- -->
</ng-container>

<settings></settings>