<div
	class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto base"
	cdkScrollable
>
	<!-- CABECERA -->
	<div class="w-11/12 my-6 mx-auto">
		<h3 class="font-medium tracking-tight text-secondary">
			{{ subtitle | titlecase }}
		</h3>
		<h2 class="text-3xl font-semibold tracking-tight leading-8">
			{{ title | titlecase }}
		</h2>
	</div>
	<!-- BODY -->
	<div class="w-11/12 mx-auto">
		<div class="inline" *ngFor="let path of ruta; let i = index">
			<ng-container *ngIf="path != ''; else home">
				/
				<a [routerLink]="[navegate(i)]">
					{{ path }}
				</a>
			</ng-container>
			<ng-template #home>
				<a [routerLink]="[navegate(i)]">
					<mat-icon>home</mat-icon>
				</a>
			</ng-template>
		</div>
		<section class="my-6">
			<!-- <xng-breadcrumb></xng-breadcrumb> -->
			<ng-content></ng-content>
		</section>
	</div>
</div>
